{% extends 'base.htm' %}
{% block content %}

<h2>No data for {{ course_name }}</h2>
<p>There is no engagement data for this course. The course may not have any students in it.</p>

{% endblock content %}
